* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-bottom: 3%;
}

body{
   margin-left: 19%;
   margin-right: 19% ;
}

.article-child:hover img{
    filter: blur(6px);
    transition: .5s;
    transform: scale(1.2);
}

.article-child img{
    transition: .5s;
    border-radius: 2%;
}

.conteneur-article{
    display: flex;
	flex-wrap: wrap;
	gap: 1%;
    justify-content: space-between;
}

.article-child{
    margin-bottom: 3%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.article-child:first-child{
    flex: 0 0 100%;
}

.article-child:nth-child(3){
    flex: 0 0 65%;
}

.article-child:nth-child(2){
    flex: 0 0 32%;
}


.article-child:first-child .image{
    width: 100%;
}

h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: .5s;
    font-weight: bolder;
}

.article-child:hover h2{
   top: 70%;
   transition: .5s;
}